@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import 'base';
@import 'crud';
@import 'cart';
@import 'user';


.header{
    height: var(--header-height);
    background-image: linear-gradient(0, #f6412d, #f53e2d);
}

.header__navbar{
    display: flex;
    justify-content: space-between;
}

.header__navbar-list{
    list-style: none;
    padding: 5px 0;
    font-size: 1.4rem;
    font-weight: 300;
    display: flex;
    align-items: center;
}

.header__navbar-item{
    display: inline-block;
    margin: 0 8px;
    position: relative;
    color: var(--white-color);
}



.header__navbar-item--has-notify:hover .header__notify,
.header__navbar-item--has-language:hover .header__language{
    display: block;
    z-index: 9;
}


.header__navbar-item-link{
    text-decoration: none;
    color: var(--white-color);
}

.header__navbar-item-link:hover,
.header__navbar-item:hover,
.header__navbar-icon-link:hover{
    color: rgba(255, 255, 255, 0.7);
}

.header__navbar-icon{
    font-size: 1.4rem;
}

.header__navbar-icon-link{
    color: var(--white-color);
    text-decoration: none;
    margin-right: 5px;
}
.header__navbar-item--separate::after{
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 10px;
    border-left: 1px solid #fa8e82;
    top: 50%;
    right: -11px;
    transform: translateY(-50%);
}

.header__navbar-title--no-pointer{
    color: var(--white-color);
    cursor: text;
}

// Header QR code

.header__qr{
    background-color: var(--white-color);
    width: 186px;
    position: absolute;
    left: 0;
    top: 155%;
    border-radius: 5px;
    padding: 8px;
    display: none;
    animation: fadeIn ease-in 0.5s;
}

.header__qr::before{
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 20px;
    left: 0;
    top: -12px;
}

.header__navbar-item--has-qr:hover .header__qr{
    display: block;
    z-index: 4;
}

.header__qr-img{
    width: 100%;
}

.header__qr-apps{
    display: flex;
    justify-content: space-between;
}

.header__qr-download-img{
    height: 15px;
    margin: 0 11px;
}

/* HEADER NOTIFICATION */
.header__notify{
    position: absolute;
    top: 155%;
    width: 404px;
    background-color: var(--white-color);
    right: 0;
    border: 1px solid #d3d3d3;
    animation: Grow ease-in 0.18s;
    transform-origin: calc(100% - 20px) top;
    display: none;
}

.header__notify::before{
    content: "";
    border-style: solid;
    border-width: 20px 30px;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: -1px;
    top: -30px;
}

.header__notify::after{
    content: "";
    position: absolute;
    top: -12px;
    right: 0;
    width: 90px;
    height: 18px;
}

.header__notify-header{
    height: 40px;
    background-color: var(--white-color);
}

.header__notify-header h3{
    color: #888;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
    user-select: none;
}

.header__notify-list{

}

.header__notify-item{
    display: flex;
}

.header__notify-item:hover{
    background-color: #f7f7f7 ;
}

.header__notify-item--seen{
    background-color: rgba(238, 77, 45, 0.1);
}

.header__notify-link{
    display: flex;
    padding: 12px;
    text-decoration: none;
}

.header__notify-img{
    width: 48px;
    object-fit: contain;
}

.header__notify-info{
    margin-left: 12px;
}

.header__notify-title{
    display: block;
    font-size: 1.4rem;
    color: var(--black-color);
}

.header__notify-description{
    display: block;
    font-size: 1.2rem;
    margin-top: 8px;
}

.header__notify-footer{
    display: flex;
}

.header__notify-footer-btn{
    text-decoration: none;
    color: var(--text-color);
    padding: 10px 0;
    font-size: 1.4rem;
    font-weight: 400;
    width: 100%;
    text-align: center;
}

/* HEADER LANGUAGE */

.header__language{
    position: absolute;
    background-color: var(--white-color);
    width: 200px;
    right: 0;
    top: 155%;
    border: 1px solid #d3d3d3;
    animation: Grow ease-in 0.18s;
    transform-origin: calc(100% - 40px) top;
    display: none;
}

.header__language::before{
    position: absolute;
    content: "";
    border-width: 20px 30px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    top: -30px;
    right: 10px;
}

.header__language::after{
    content: "";
    position: absolute;
    width: 100px;
    height: 20px;
    right: 0;
    top: -12px;
}

.header__language-list{
    list-style: none;
}

.header__language-item{
    margin: 14px 12px;
}

.header__language-item-link:hover{
    color: var(--primary-color);
}

.header__language-item-link{
    text-decoration: none;
    color: var(--text-color);
}
/* INFO USER */

.header__navbar-user{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.header__navbar-user:hover .header__navbar-user-list{
    display: block;
}


.header__navbar-user-img{
    width: 22px;
    height: 22px;
    border-radius: 50%;
    margin-right: 5px;
}

.header__navbar-user-name{

}

.header__navbar-user-list{
    position: absolute;
    list-style: none;
    background-color: var(--white-color);
    width: 150px;
    right: 0;
    top: 129%;
    border: 1px solid #d3d3d3;
    animation: Grow ease-in 0.18s;
    transform-origin: calc(100% - 40px) top;
    z-index: 10;
    display: none;
}
.header__navbar-user-list::before{
    content: "";
    position: absolute;
    border-width: 20px 30px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    top: -30px;
    right: -1px;
}

.header__navbar-user-list::after{
    content: "";
    position: absolute;
    width: 90px;
    height: 10px;
    top: -10px;
    right: 0;
}

.header__navbar-user-item{
    color: var(--text-color);
    padding: 12px;
}
.header__navbar-user-item a{
    text-decoration: none;
    color: var(--text-color);
}
.header__navbar-user-item:hover,
.header__navbar-user-item a:hover{
    color: rgb(125, 224, 248);
    background-color: #fffcfc;
}


/* Modal */
.modal__body{
    width: 400px;
    padding: 30px;
}
.auth-form__header{
    margin-bottom: 30px;
}
.auth-form__header .auth-form__heading{
    font-size: 2rem;
    font-weight: 400;
}
.auth-form__form .auth-form__input{
    width: 100%;
    height: 40px;
    margin-bottom: 30px;
    border: 1px solid #d3d3d3;
    outline: none;
    font-size: 1.4rem;
    border-radius: 5px;
    padding: 15px;
}
.auth-form__input:focus{
    border-color: #888;
}
.auth-form__group i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.auth-form__group i.icon{
    left: 0;
}
.auth-form__group i.showhidePw{
    left: 0;
}
.auth-form__controls .btn-continute{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    background-color: var(--primary-color);
    font-size: 1.4rem;
    font-weight: 400;
    border: none;
    color: var(--white-color);
}
.btn-continute:hover{
    opacity: 0.9;
    cursor: pointer;
}

.auth-form__socials{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.btn{
    text-decoration: none;
    font-size: 1.4rem;
    border: 1px solid #888;
    padding: 10px 18px;
    color: var(--text-color);
}
.btn:hover{
    background-color: rgba(0,0,0,0.05)
}

.auth-form__controls-others{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.auth-form__controls-others .btn-link{
    text-decoration: none;
    color: blue;
    font-size: 1.2rem;
    font-weight: 300;
}

.modal__body .separator{
    height: 1px;
    width: 100%;
    margin: 25px 0;
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
}
.separator::before{
    content: "HOẶC";
    color: #ccc;
    font-size: 1.4rem;
    padding: 0 15px;
    background: #fff;
}
.auth-form__aside{
    margin-bottom: 35px;
}
.auth-form__policy-text{
    text-align: center;
    font-size: 1.3rem;
    font-weight: 400;
}
.auth-form__policy{
    text-align: center;
    
}
.auth-form__policy-link{
    text-decoration: none;
    color: var(--primary-color);
    font-size: 1.3rem;
    font-weight: 400;
}
.auth-form__bottom{
    text-align: center;
    font-size: 1.3rem;
}
.auth-form__text{
    color: #888;
}
.auth-form__switch-btn{
    color: var(--primary-color);
    cursor: pointer;
}

// HEADER  WITH SEARCH
.header-with-search{
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
    margin: 0 8px;
}
.header__logo{
    width: 200px;
}
.header__logo:hover{
    cursor: pointer;
}
.header__logo-img{
    width: 150px;
}
.header__search{
    background-color: var(--white-color);
    height: 40px;
    flex: 1;
    border-radius: 2px;
    display: flex;
    justify-content: space-between;
}
.header__cart{
    width: 150px;
    text-align: center;
}
.header__cart-list-wrap{
    position: relative;
    display: inline-block;
    padding: 0 12px;
    z-index: 5;
}
.header__cart-list-wrap:hover .header__cart-list{
    display: block;
}
.header__cart-list{
    position: absolute;
    top: calc(100% + 10px);
    right: -2px;
    background-color: var(--white-color);
    width: 400px;
    border-radius: 2px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    display: none;
    animation: Grow ease-in 0.18s;
    transform-origin: calc(100% - 20px) top;
    cursor: default;
}
.header__cart-list--has-cart .header__cart-item,
.header__cart-list--has-cart .header__cart-bottom{
    display: block;
    display: flex;
    justify-content: end;
}


.header__cart-list::before{
    content: "";
    position: absolute;
    border-width: 20px 25px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    top: -30px;
    right: -1px;
    cursor: pointer;
}
.header__cart-heading{
    text-align: left;
    font-size: 1.4rem;
    color: #ccc;
    font-weight: 300;
    margin: 12px 8px;

}

.header__cart-list-item{
    list-style: none;
    
}

.header__cart-item{
    display: flex;
    padding: 10px;
    display: none;
}

.header__cart-item:hover{
    background-color: #fafafa;
    cursor: pointer;
}

.header__cart-img{
    width: 48px;
    object-fit: contain;
}

.header__cart-info{
    display: flex;
    justify-content: space-between;
    // overflow: hidden;
    // height: 1.5rem;
    // display: block;
    // display: -webkit-box;
    // -webkit-box-orient: vertical;
    // -webkit-line-clamp: 1;
    user-select: none;
    // text-overflow: ellipsis;
    // white-space: nowrap;
}

.header__cart-title{
    text-align: left;
    font-size: 1.4rem;
    font-weight: 300;
    color: var(--text-color);
    margin: 0 10px;
    max-height: 30px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    user-select: none;
}

.header__cart-price{
    font-size: 1.4rem;
    font-weight: 300;
    color: var(--primary-color);
}

.header__cart-bottom{
    margin: 10px 0;
    text-align: right;
    display: none;
}

.header__cart-btn-see-cart{
    color: var(--white-color);
    background-color: var(--primary-color);
    font-size: 1.4rem;
    font-weight: 300;
    border: none;
    outline: none;
    width: 110px;
    height: 35px;
    border-radius: 3px;
    margin-right: 10px;
}
.header__cart-btn-see-cart:hover{
    opacity: 0.9;
    cursor: pointer;
}
.header__cart-list-message{
    display: none;
    font-size: 1.4rem;
    margin-top: 14px;
    color: var(--text-color);
}
.header__cart-list--no-cart{
    padding: 28px 0;
}
.header__cart-list--no-cart .header__cart-no-cart-img,
.header__cart-list--no-cart .header__cart-list-message{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.header__cart-list--no-cart .header__cart-heading{
    display: none;
}
.header__cart-no-cart-img{
    width: 55%;
    display: none;
}
.header__cart-notice{
    position: absolute;
    padding: 1px 6px;
    background-color: var(--white-color);
    color: var(--primary-color);
    font-size: 1.4rem;
    line-height: 1.4rem;
    border-radius: 10px;
    border: 2px solid #ee4d2d;
    top: -6px;
    right: -2px;

}
.header__cart-list-wrap:hover{
    cursor: pointer;
}
.header__cart-icon{
    font-size: 2rem;
    color: var(--white-color);
    margin-top: 6px;
}
.header__search-input-wrap{
    flex: 1;
    position: relative;
}
.header__search-history{
    position: absolute;
    top: calc(100% + 4px);
    left: 0;
    width: 100%;
    background-color: var(--white-color);
    border-radius: 3px;
    box-shadow: 0 0 3px #666;
    display: none;
    z-index: 5;
}
.header__search-history-list{
    list-style: none
}
.header__search-history-item{
    padding: 12px 16px;
    font-size: 1.2rem;
    font-weight: 400;
}
.header__search-history-item:hover{
    background-color: #fafafa;
    cursor: pointer;
}
.header__search-history-item a{
    text-decoration: none;
    color: var(--text-color);
}
.header__search-input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding: 0 16px;
    border-radius: 5px;
    font-size: 1.4rem;
    color: var(--text-color);
}
.header__search-input:focus ~ .header__search-history{
    display: block;
}
.header__search-btn{
    background-color: var(--primary-color);
    border: none;
    height: 32px;
    width: 60px;
    border-radius: 3px;
    margin: 4px;
}
.header__search-btn:hover{
    cursor: pointer;
}
.header__search-icon{
    color: var(--white-color);
    font-size: 1.4rem;
    font-weight: 400;
}
/* Home page */

.full-banners{
    margin: 30px 75px;
}
.full-banners__main-banner{
    height: 360px;
}
.main-banner-img-slider{
    position: relative;
    width: 1200px;
    min-height: 360px;
    max-height: 360px;
}
.main-banner-img-slider .main-banner-slide{
    z-index: 1;
    position: absolute;
    width: 100%;
    clip-path: inset(0 100% 0 0);
}
.main-banner-img-slider .main-banner-slide.active{
    clip-path: inset(0 100% 0 100%);
    transition: 2s;
    transition-property: clip-path;
}
.main-banner-img-slider .main-banner-slide img{
    z-index: 1;
    width: 100%;
    min-height: 360px;
    max-height: 360px;
    object-fit: fill;
}
.main-banner-navigation{
    z-index: 2;
    position: absolute;
    display: flex;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}
.main-banner-img-slider .main-banner-navigation .main-banner-btn{
    width: 12px;
    height: 12px;
    margin: 10px;
    cursor: pointer;
    background-color: rgba(255,255,255,0.2);
    border-radius: 50%;
}
.main-banner-img-slider .main-banner-navigation .main-banner-btn.active{
    background-color: var(--primary-color);
    box-shadow: 0 0 2px rgba(0,0,0,0.5);
}
/* CATEGORY MALL*/
.category-mall{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    margin: 30px 75px;
}
.category-mall-heading{
    font-size: 1.8rem;
    font-weight: 400;
    color: #d41830;
    padding: 32px 5px;
}
.category-mall-wrap-card{
    display: flex;
}

.category-mall-card{

}

.category-mall-wrap-img{
    width: 200px;
    min-height: 110px;
    max-height: 110px;
    border: 1px solid #f0efef;
}
.category-mall-img{
    object-fit: contain;
    width: 200px;
    min-height: 110px;
    max-height: 110px;
    padding-bottom: 2px;
    cursor: pointer;
}
/* App Content */
.content{
    background-color: #f5f5f5;
}
.category__left{
    background-color: var(--white-color);
    border-radius: 2px;
}
.category__left-heading{
    font-size: 1.6rem;
    font-weight: 600;
    padding: 21px 0;
    border-bottom: 1px solid rgba(0,0,0,0.05) ;
}


.category__left-heading-icon{
    font-size: 1.4rem;
    padding-right: 8px;
}

.category__left-list{
    list-style: none;
    padding: 12px 0;
}

.category__left-item{
    padding: 8px 12px;
}

.category__left-item--active .category__left-item-link{
    color: var(--primary-color);
}

.category__left-item--active .category__left-item-link::before{
    position: absolute;
    content: "";
    border-width: 4px;
    border-style: solid;
    border-color: transparent transparent transparent var(--primary-color);
    top: 50%;
    left: -12px;
    transform: translateY(-50%);
}

.category__left-item-link{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 300;
    position: relative;
    right: 0;
    transition: right linear 0.1s;
}
.category__left-item-link:hover{
    color: var(--primary-color);
    right: -3px;
}
/* COLLAPSE CATEGORY LEFT */
.content-coll{
    
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.12s ease-out;
    background-color: var(--white-color)
}
.collapse-list{
    padding: 0;
}
.home__fillter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
    background-color: #ededed;
}
.home__fillter-left{

}
.home__fillter-label{
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 0 15px;
}

.home__fillter-btn{
    margin-right: 8px;
    width: 90px;
    height: 35px;
    background-color: var(--white-color);
    color: var(--text-color);
    border: none;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
}
.home__fillter-btn:hover{
    opacity: 0.7;
}

.home__fillter-btn--active{
    background-color: var(--primary-color);
    color: var(--white-color);
}
.select-input{
    display: inline-flex;
    width: 200px;
    height: 35px;
    background-color: var(--white-color);
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    border-radius: 3px;
    cursor: pointer;
    position: relative;
    z-index: 2;
}
.select-input:hover .select-input__list{
    display: block;
}
.select-input__list{
    position: absolute;
    list-style: none;
    width: 200px;
    height: 72px;
    top: calc(100% + 2px);
    right: 0;
    background-color: var(--white-color);
    border-radius: 3px;
    animation: fadeIn ease-in 0.15s;
    display: none;
}

.select-input__list::before{
    content: "";
    position: absolute;
    width: 200px;
    height: 8px;
    top: -5px;
    right: 0;
}

.select-input__item{
    cursor: pointer;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 300;
    padding: 10px;
}
.select-input__item:hover{
    color: var(--primary-color);
}

.select-input__label,
.select-input__icon{
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 300;
}


.home__fillter-right{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.home__fillter-page-num{
    font-size: 1.4rem;
    font-weight: 300;
    color: var(--text-color);
    padding-right: 15px;
}
.home__fillter-page-control{
    padding-right: 15px;
}
.home__fillter-page-btn{
    text-decoration: none;
    display: inline-block;
    background-color: var(--white-color);
    border: 1px solid #ccc;
    width: 35px;
    height: 35px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    cursor: pointer;
}
.home__fillter-page-btn:hover{
    //background-color: rgba(0,0,0,0.05);
    opacity: 0.7;
}
.home__fillter-page-icon{
    
}

/* PRODUCT ITEM */
.home__product-item{
    display: block;
    text-decoration: none;
    margin-top: 10px;
    padding-bottom: 10px;
    position: relative;
    background-color: var(--white-color);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: 0 0.1rem 0.2rem 0 rgba(0,0,0,0.1);
    transition: transform linear 0.1s;
    will-change: transform;
}

.home__product-item:hover{
    transform: translateY(-1px);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.05);
}

.home-product-item__img{
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.home-product-item__name{
    font-size: 1.4rem;
    font-weight: 300;
    color: var(--text-color);
    line-height: 1.8rem;
    margin: 8px 5px;
    height: 3.6rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    user-select: none;
    // text-overflow: ellipsis;
    // white-space: nowrap;
}

.home-product-item__price-ship{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 4px;
}

.home-product-item__price{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.home-product-item__ship-icon{
    font-size: 1.4rem;
    color: #00bfa5;
}

.home-product-item__price-old{
    font-size: 1.4rem;
    color: #ccc;
    text-decoration: line-through;
    margin-right: 8px;
}

.home-product-item__price-current{
    font-size: 1.6rem;
    color: var(--primary-color);
    
}   

.home-product-item__action{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 6px;
    cursor: pointer;
}

.home-product-item__like{
    font-size: 1.4rem;
    color: #aaa;
}
.btnLike{
    color: var(--primary-color);
}


.home-product-item__rating{
    color: #ffce3d;
}

.home-product-item__sold-quantity{
    font-size: 1.2rem;
    font-weight: 300;
    color: var(--text-color);
}

.home-product-item__origin{
    display: flex;
    justify-content: end;
    margin: 0 6px;
}

.home-product-item__place{
    font-size: 1.2rem;
    font-weight: 300;
    color: var(--text-color);
}   

.home-product-item__favourite{
    position: absolute;
    top: 5px;
    left: -3px;
    background-color: var(--primary-color);
    color: var(--white-color);
    font-size: 1.2rem;
    font-weight: 300;
    padding: 0 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.home-product-item__favourite::before{
    content: "";
    position: absolute;
    border-top: 3px solid #913113;
    border-left: 3px solid transparent;
    left: 0;
    bottom: -3px;
}

.home-product-item__sale-off{
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 35px;
    background-color: rgba(253, 214, 55, 0.9);
    text-align: center;
    font-size: 1.2rem;
    font-weight: 300;

}
.home-product-item__sale-off::after{
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 0 20px 6px;
    border-color: red rgba(253, 214, 55, 0.9) transparent rgba(253, 214, 55, 0.9);
    bottom: -5px;
    left: 0;
}

.home-product-item__sale-off-percent{
    color: var(--primary-color);
    position: relative;
    top: 2px;
}

.home-product-item__sale-off-label{
    color: var(--white-color);
}

.home__product-pagination{
    margin: 48px 0 32px 0;
}
.footer{
    margin-top: 30px;
}
.footer__heading{
    color: #222222;
    font-size: 1.2rem;
    font-weight: 400;
    text-transform: uppercase;
    padding-bottom: 15px;
}
.footer__list{
    list-style: none;
    
}
.footer__list-item{
    padding-bottom: 10px;
}
.footer__list-item-link{
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 300;
    color: #737373;
}
.footer__list-item-link:hover{
    color: var(--primary-color);
}
.footer__list-item-link:hover i{
    color: #737373;
}
.footer__list-item-icon {
    font-size: 2rem;
    margin-right: 5px;
}
.footer__download{
    display: flex;
}
.footer__download-qr{
    width: 86px;
    height: 86px;
    margin-right: 8px;
}
.footer__download-app{
    flex-direction: column;
    padding-top: 5px;
}
.footer__download-app-img{
    width: 86px;
    
}
.footer__list-payment,
.footer_list-transport{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
}
.footer__list-item-img-link{
    width: 60px;
    height: 25px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.footer__separate{
    margin: 35px 0;
    border-top: 1px solid rgba(0,0,0,0.1);
}
.footer__national-reserve{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.footer__reserve{
    font-size: 1.4rem;
    font-weight: 300;
    color: #737373;
    flex-shrink: 0;
    margin-right: 25px;
}
.footer__national{
    display: flex;
    justify-content: space-between;
}
.footer__national-label{
    font-size: 1.4rem;
    font-weight: 300;
    color: #737373;
    width: 170px;
}
.footer__national-list{
    display: flex;
    // align-items: center;
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;

}
.footer__national-list-item{
    margin: 0 3px;
    font-size: 1.4rem;
    font-weight: 300;
    color: #737373;
    position: relative;

}
.footer__national-list-item--separate::after{
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 15px;
    border-left: 1px solid #c8c8c8;
    top: 50%;
    right: -5px;
    transform: translateY(-50%);
}
.footer__bottom{
    background-color: #f5f5f5;
}
.footer__bottom-rules{
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
}
.footer__bottom-rules-title{
    font-size: 1.4rem;
    font-weight: 300;
    
}

.footer__bottom-rules-link--separate::after{
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 15px;
    border-left: 1px solid #c8c8c8;
    top: 50%;
    right: -73px;
    transform: translateY(-50%);
}
.footer__bottom-rules-link{
    position: relative;
    text-decoration: none;
    color: #8d8d8d;
}
.footer__bottom-company-register{
    display: flex;
    justify-content: center;

}
.footer__bottom-img-link{
    width: 120px;
    height: 45px;
    margin-right: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.footer__bottom-img-link-icon{
    width: 48px;
    height: 48px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.footer__bottom-info-company{

}
.footer__bottom-name-wrap{
    margin: 30px 0;
    text-align: center;
}
.footer__bottom-name{
    font-size: 1.3rem;
    font-weight: 300;
    color: #565656;
}
.footer__bottom-address-wrap{
    text-align: center;
    margin: 30px 0 100px 0;
}
.footer__bottom-address{
    font-size: 1.2rem;
    font-size: 300;
    color: #565656;
    line-height: 2.2rem;
}
// DETAIL PRODUCT PAGE
.detail-product-wrap{
    margin: 55px 75px;
    padding: 15px;
    background-color: var(--white-color);
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
.detail-product{
    display: flex;
}
.detail-product-left{
    margin-bottom: 20px;
}
.detail-product-left__img,
.detail-product-left__big-img{
    width: 450px;
}
.detail-product-left-img-small{
    width: 80px;
}
.detail-product-left__img-slide{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    
}
.detail-product-left__img-small-item{
    width: 80px;
    cursor: pointer;
    overflow: hidden;
}
.detail-product-left__img-small-item:hover{
    // border: 1px solid var(--primary-color);
}

.detail-product-left__img-small-item .detail-product-left-img-small{

    width: inherit;
    transition: all 0.3s ease;
    
}
.detail-product-left__img-small-item:hover .detail-product-left-img-small{
    transform: scale(1.2);
    
}
.detail-product-left__user-action{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.detail-product-left__user-like{
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.detail-product-left__like{
    color: #aaa;
    font-size: 2.5rem;
    cursor: pointer;
}
.btnDetailLike{
    color: var(--primary-color);
}
.detail-product-left__like-label{
    font-weight: 300;
    margin-left: 8px;
}
.detail-product-left__user-share{
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.detail-product-left__user-share--separate::after{
    content: "";
    position: absolute;
    transform: translateY(50%);
    width: 1px;
    height: 22px;
    top: -8px;
    right: -75px;
    border-left: 1px solid #e8e8e8;

}
.detail-product-left__share-label{
    font-size: 1.6rem;
    margin-right: 8px;
}

.fa-facebook-messenger{
    color: #0384ff;   
}
.icon-share{
    color: #3e5b9a;
}
.fa-twitter-square{
    color: #0fc2ff;
}
.detail-product-right{
    margin: 5px 20px 30px 20px;
}
.detail-product-right__title{
    font-size: 2rem;
    line-height: 2rem;
}
.detail-product-right__rating-sales-reviews{
    display: flex;
    align-items: center;
}
.detail-product-right__rating-wrap{
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    margin: 10px 8px 10px 0;
    position: relative;
    margin-right: 25px;
    cursor: pointer;
}
.detail-product-right__rating-wrap--separate::after,
.detail-product-right__reviews-wrap--separate::after{
    content: "";
    position: absolute;
    top: -11px;
    right: -14px;
    border-left: 1px solid #c2c1c1;
    width: 1px;
    height: 20px;
    transform: translateY(50%);
}
.detail-product-right__sales-wrap{
    margin-right: 25px;
    position: relative;
}
.detail-product-right__rate-icon{
    font-size: 1.5rem;
    color: var(--primary-color);
}
.detail-product-right__rate-number{
    margin-right: 8px;
    border-bottom: 1px solid #111;
}
.detail-product-right__reviews-wrap{
    margin-right: 10px;
    position: relative;
    margin-right: 25px;
    cursor: pointer;
}
.detail-product-right__reviews-number{
    font-size: 1.8rem;
    border-bottom: 1px solid #111;
    margin-right: 8px;
}
.detail-product-right__reviews-label{
    font-size: 1.4rem;
    color: #767676;
    font-weight: 300;
}
.detail-product-right__sales-wrap{
    cursor: pointer;
}
.detail-product-right__sales-number{
    font-size: 1.8rem;
    margin-right: 8px;
    border-bottom: 1px solid #111;
}
.detail-product-right__sales-label{
    font-size: 1.4rem;
    color: #767676;
    font-weight: 300;
}
.detail-product-right__price-sale{
    display: flex;
    align-items: center;
    background-color: #fafafa;
    padding: 20px;
}
.detail-product-right__price-old{
    font-size: 1.6rem;
    font-weight: 300;
    text-decoration: line-through;
    color: #929292;
    margin-right: 15px;
}
.detail-product-right__price-new{
    font-size: 2.8rem;
    font-weight: 400;
    color: var(--primary-color);
    margin-right: 15px;
}
.detail-product-right__price-discount{
    font-size: 1.4rem;
    line-height: 1.8rem;
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 2px 5px;
    border-radius: 3px;
    text-align: center;
}
.detail-product-right__information{
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}
.detail-product-right__information-size{
    display: flex;
    margin-top: 30px;
    align-items: baseline;
}
.detail-product-right__psize-wrap{
    flex-wrap: wrap;
    display: flex;
    align-items: center;
}
.detail-product-right__size-label,
.detail-product-right__quantity-label{
    font-size: 1.4rem;
    font-weight: 300;
    color: #757575;
    width: 100px;
    display: flex;
    flex-shrink: 0;
    align-items: center;
}
.detail-product-right__psize{
    margin: 0 10px 8px 0;
    display: flex;
    border: 1px solid #e8e8e8;
    width: auto;
    height: auto;
    padding: 8px 20px;
    font-size: 1.4rem;
    font-weight: 300;
    cursor: pointer;
    border-radius: 2px;
}
.detail-product-right__psize:hover{
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}
.detail-product-right__information-quantity{
    display: inline-flex;
    margin: 20px 0 30px 0; 
}
.detail-product-right__quantity-wrap{
    display: flex;
}
.detail-product-right__number-wrap{
    display: flex;
    width: 50px;
    height: 30px;
    align-items: center;
    justify-content: center;
    border: 1px solid #e8e8e8;
    position: relative;
    right: 4px;
    outline: none;
    font-size: 1.4rem;
    font-weight: 300;
    color: var(--text-color);
}
.detail-product-right__left-btn{
    width: 30px;
    height: 30px;
    background-color: var(--white-color);
    border: 1px solid #e8e8e8;
    outline: none;
    position: relative;
    right: 3px;
    cursor: pointer;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}
.detail-product-right__right-btn{
    width: 30px;
    height: 30px;
    background-color: var(--white-color);
    border: 1px solid #e8e8e8;
    outline: none;
    position: relative;
    right: 7px;
    cursor: pointer;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}
.detail-product-right__button-controls{
    margin: 0 20px;
}
.detail-product-right__add-to-cart{
    width: 215px;
    padding: 12px;
    background-color: #ffeee8;
    color: var(--primary-color);
    border-radius: 3px;
    border: 1px solid var(--primary-color);
    font-size: 1.5rem;
    font-weight: 400;
    margin-right: 10px;
    text-decoration: none;
}
.detail-product-right__add-to-cart:hover{
    background-color: #fff5f1;
}
.detail-product-right__buy-now{
    width: 112px;
    padding: 12px;
    text-decoration: none;
    background-color: var(--primary-color);
    color: var(--white-color);
    border: 1px solid var(--primary-color);
    font-size: 1.5rem;
    font-weight: 400;
    border-radius: 3px;
    outline: hidden;
}
.detail-product-right__buy-now:hover{
    opacity: 0.9;
}
.list-product-wrap{
    margin: 12px 16px;
}
.list-product-title{
    margin-bottom: 10px;
    font-size: 2rem;
    font-weight: 600;
    color: var(--text-color);
    text-align: center;
}
.list-product-table__head,
.list-product-table__item{
    font-size: 1.2rem;
    font-weight: 300;
    color: var(--text-color);
    text-align: center;
}
.btn-link-delete{
    margin-right: 8px;
}
.btn-link-delete,
.btn-link-edit{
    text-decoration: none;
    color: var(--text-color);  
}
.btn-link-delete:hover,
.btn-link-edit:hover{
    color: var(--white-color);
    background-color: var(--primary-color);
}
.btn-link-delete,
.btn-link-edit{
    border: 1px solid #ccc;
    padding: 2px;
    border-radius: 5px;
}












