<div class="product-wrap">
    <h3>Đăng sản phẩm</h3>
    <form method="POST" action="/products/store">
        <div class="form-group">
            <label for="name">Tên sản phẩm</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="form-group">
            <label for="oldPrice">Giá sản phẩm cũ</label>
            <input type="text" class="form-control" id="oldPrice" name="oldPrice">
        </div>
        <div class="form-group">
            <label for="newPrice">Giá sản phẩm mới</label>
            <input type="text" class="form-control" id="newPrice" name="newPrice">
        </div>
        <div class="form-group">
            <label for="saled">Số lượng sp đã bán</label>
            <input type="text" class="form-control" id="saled" name="saled">
        </div>
        <div class="form-group">
            <label for="origin">Nơi bán</label>
            <input type="text" class="form-control" id="origin" name="origin">
        </div>
        <div class="form-group">
            <label for="image">Hình ảnh sản phẩm</label>
            <input type="text" class="form-control" id="image" name="image">
        </div>
        <div class="form-group">
            <label for="saleOff">Giảm giá</label>
            <input type="text" class="form-control" id="saleOff" name="saleOff">
        </div>
        
        <button type="submit" class="btn btn-primary">Thêm sản phẩm</button>
    </form>
</div>