<header class="header">
    <div class="grid">
        <nav class="header__navbar">
            <ul class="header__navbar-list">
                <li class="header__navbar-item header__navbar-item--separate">
                    <a href="#" class="header__navbar-item-link">Kênh Người Bán</a>
                </li>
                <li class="header__navbar-item header__navbar-item--separate">
                    <a href="#" class="header__navbar-item-link">Trở thành Người bán Shopee</a>
                </li>
                <li class="header__navbar-item header__navbar-item--has-qr header__navbar-item--separate">
                    <a href="#" class="header__navbar-item-link">
                        Tải ứng dụng
                        <div class="header__qr">
                            <img src="/img/qr-code.png" alt="QR code" class="header__qr-img">
                            <div class="header__qr-apps">
                                <img src="/img/app-store.png" alt="App store" class="header__qr-download-img">
                                <img src="/img/google-play.png" alt="Google play" class="header__qr-download-img">
                            </div>
                        </div>
                    </a>
                </li>
                <li class="header__navbar-item">
                    <span class="header__navbar-title--no-pointer">Kết nối</span>
                    <a href="" class="header__navbar-icon-link">
                        <i class="header__navbar-icon fa-brands fa-facebook"></i>
                    </a>
                    <a href="" class="header__navbar-icon-link">
                        <i class="header__navbar-icon fa-brands fa-instagram"></i>
                    </a>
                </li>
            </ul>

            <ul class="header__navbar-list">
                <li class="header__navbar-item header__navbar-item--has-notify">
                    <a href="#" class="header__navbar-item-link">
                    <i class="header__navbar-icon fa-regular fa-bell"></i>
                        Thông báo
                    </a>
                    <div class="header__notify">
                        <header class="header__notify-header">
                            <h3>Thông báo mới nhận</h3>
                        </header>
                        <ul class="header__notify-list">
                            <li class="header__notify-item header__notify-item--seen">
                                <a href="" class="header__notify-link">
                                    <span>
                                        <img src="https://cf.shopee.vn/file/f10e7f66a03d75ad95c4103332203293_tn" alt="" class="header__notify-img">
                                    </span>
                                    <div class="header__notify-info">
                                        <span class="header__notify-title">BÁCH HÓA GIẢM GIÁ 50% CHÀO #5.5</span>
                                        <span class="header__notify-description">
                                            ❣️ Mỹ phẩm, bỉm, sữa giảm đến 50%💦 Mã FMCGMALL giảm 80K hàng chính hãng✨ Tung thêm sản phẩm đồng giá 1K-9K🔥 Sale to giá hời - Mua ngay đừng đợi!
                                        </span>
                                    </div>
                                </a>
                            </li>
                            <li class="header__notify-item">
                                <a href="" class="header__notify-link">
                                    <span>
                                        <img src="https://cf.shopee.vn/file/49410b3691c3923a1fc9fb87ae70de0d_tn" alt="" class="header__notify-img">
                                    </span>
                                    <div class="header__notify-info">
                                        <span class="header__notify-title">#5.5 Có deal NỬA GIÁ không lo đau ví</span>
                                        <span class="header__notify-description">
                                            ✨ #5.5 Sale hời tung ngàn deal hot☄️ Flash Sale cực sốc đến NỬA GIÁ💥 Mở mới liên tục mỗi 30 phút🔥 Nhanh tay thì còn - Chậm là tiếc nha!
                                        </span>
                                    </div>
                                </a>
                            </li>
                            <li class="header__notify-item">
                                <a href="" class="header__notify-link">
                                    <span>
                                        <img src="	https://cf.shopee.vn/file/a89e6a80104290bc630e337fc8cbc0b4_tn" alt="" class="header__notify-img">
                                    </span>
                                    <div class="header__notify-info">
                                        <span class="header__notify-title">ẴM HƠN 2,000 XU! CHỈ #5.5</span>
                                        <span class="header__notify-description">
                                            ☄️ Hoàn thành Thử Thách Shopee Mall💥 X2 phần thưởng cho mỗi lượt theo dõi shop️✨ Duy nhất siêu sale #5.5🔥 Chớp ngay cơ hội hốt ngàn xu!
                                        </span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <footer class="header__notify-footer">
                            <a href="" class="header__notify-footer-btn">Xem tất cả</a>
                        </footer>
                    </div>
                </li>
                <li class="header__navbar-item">
                    <i class="header__navbar-icon fa-regular fa-circle-question"></i>
                    <a href="#" class="header__navbar-item-link">Hỗ trợ</a>
                </li>
                <li class="header__navbar-item">
                    <i class="header__navbar-icon fa-solid fa-globe"></i>
                    <a href="#" class="header__navbar-item-link">Tiếng Việt</a>
                    <i class="header__navbar-icon fa-solid fa-angle-down"></i>
                </li>
                <li class="header__navbar-item header__navbar-item--separate">
                    <a href="#" class="header__navbar-item-link">Đăng ký</a>
                </li>
                <li class="header__navbar-item">
                    <a href="#" class="header__navbar-item-link">Đăng nhập</a>
                </li>
            </ul>
        </nav>
    </div>
</header>