<header class="header">
    <div class="grid">
        <nav class="header__navbar">
            <ul class="header__navbar-list">
                <li class="header__navbar-item">
                    <a href="#" class="header__navbar-item-link">Kênh Người Bán</a>
                </li>
                <li class="header__navbar-item">
                    <a href="#" class="header__navbar-item-link">Trở thành Người bán Shopee</a>
                </li>
                <li class="header__navbar-item">
                    <a href="#" class="header__navbar-item-link">Tải ứng dụng</a>
                </li>
                <li class="header__navbar-item">
                    <a href="#" class="header__navbar-item-link">Kết nối</a>
                </li>
            </ul>

            <ul class="header__navbar-list">
                <li class="header__navbar-item">
                    <a href="#" class="header__navbar-item-link">Thông báo</a>
                </li>
                <li class="header__navbar-item">
                    <a href="#" class="header__navbar-item-link">Hỗ trợ</a>
                </li>
                <li class="header__navbar-item">
                    <a href="#" class="header__navbar-item-link">Tiếng Việt</a>
                </li>
                <li class="header__navbar-item">
                    <a href="#" class="header__navbar-item-link">Đăng ký</a>
                </li>
                <li class="header__navbar-item">
                    <a href="#" class="header__navbar-item-link">Đăng nhập</a>
                </li>
            </ul>
        </nav>
    </div>
</header>