<div class="cart">
    <div class="cart-heading">
        <span>Giỏ hàng</span>
    </div>
    <div class="cart-content">
        <div class="cart-head">
            <div class="cart-title cart-product-name">Sản phẩm</div>
            <div class="cart-title">Đơn giá</div>
            <div class="cart-title">Số lượng</div>
            <div class="cart-title">Số tiền</div>
            <div class="cart-title">Thao tác</div>
        </div>
        <div class="cart-list-wrap">
            <ul class="cart-list">
                <li class="cart-item">
                    <div class="cart-info-item">
                        <img class="cart-img-item" src="{{product.image}}"
                            alt="">
                        <span class="cart-title-item">{{product.name}}</span>
                    </div>
                    <div class="cart-unit-price">
                        <span class="cart-unit-xprice">{{product.newPrice}}đ</span>
                    </div>
                    <div class="detail-product-right__quantity-wrap">
                        <button class="detail-product-right__left-btn">-</button>
                        <div class="detail-product-right__number-wrap">
                            <span class="detail-product-right__number">1</span>
                        </div>
                        <button class="detail-product-right__right-btn">+</button>
                    </div>
                    <div class="cart-price">
                        <span class="cart-price">{{product.newPrice}}đ</span>
                    </div>
                    <div class="cart-item-action">
                        <a href="" class="btn-cart-link">Xóa</a>
                    </div>
                </li>
            </ul>
        </div>

    </div>
</div>