
<div class="wrap">
    <h1 class="form-heading">Add New Category</h1>
    <a href="/category" class="btn-add-label">
    <i class="fa-solid fa-angles-left"></i>
         All Categories
    </a>
    <form method="POST" action="/category/post" class="form-crud" id="form-2">
        <div class="form-group-crud">
            <label class="form-label" for="title">Title</label>
            <input id="title" name="title" type="text" class="form-control-crud" placeholder="Title">
            <span class="form-message"></span>
        </div>
            <button type="submit" class="btn btn-primary">Add new category</button>
    </form>
</div>